{% extends "layout.html" %}

{% block content %}
        <section>
            <div class="container">
                <div class="entry-list single">
                    <article>
                        <h1>{{entry.title}}</h1>
                        <time datetime="2016-01-31">{{entry.date}}</time>
                        <div class="entry">
                            <h3>Time Spent: </h3>
                            <p>{{entry.time_spent}}</p>
                        </div>
                        <div class="entry">
                            <h3>What I Learned:</h3>
                            <p>{{entry.learnings}}</p>
                            <p>Cras egestas ac ipsum in posuere. Fusce suscipit, libero id malesuada placerat, orci velit semper metus, quis pulvinar sem nunc vel augue. In ornare tempor metus, sit amet congue justo porta et. Etiam pretium, sapien non fermentum consequat, <a href="">dolor augue</a> gravida lacus, non accumsan. Vestibulum ut metus eleifend, malesuada nisl at, scelerisque sapien.</p>
                        </div>
                        <div class="entry">
                            <h3>Resources to Remember:</h3>
                            <ul>
                                <li><a href="">{{entry.rememberings}}</a></li>
                                <li><a href="">Cras accumsan cursus ante, non dapibus tempor</a></li>
                                <li>Nunc ut rhoncus felis, vel tincidunt neque</li>
                                <li><a href="">Ipsum dolor sit amet</a></li>
                            </ul>
                        </div>
                    </article>
                </div>
            </div>
            <div class="edit">
                <p><a href="{{ url_for('edit', entry_id=entry.id) }}">Edit Entry</a></p>
                <form action="{{ url_for('delete', entry_id=entry.id) }}" method="POST">
                    <input type="submit" value="Delete Entry" class="button">
                </form>
            </div>
        </section>
{% endblock %}