{% extends "layout.html" %}

{% block content %}
        <section>
            <div class="container">
                <div class="edit-entry">
                    <h2>Edit Entry</h2>
                    <form method="POST" action="{{ url_for('edit', entry_id=entry.id) }}">
                        {{ form.hidden_tag() }}
                        {{form.title.label}}
                        {{form.title(value=entry.title)}}
                        {{form.date.label}}
                        {{form.date(type='date', value=entry.date, onfocus="(this.type='date')", onblur="(this.type='text')")}}
                        {{form.time_spent.label}}
                        {{form.time_spent(value=entry.time_spent)}}
                        {{form.learnings.label}}
                        <textarea id="learnings" name="learnings" required>{{entry.learnings}}</textarea>
                        {{form.rememberings.label}}
                        <textarea id="rememberings" name="rememberings" required>{{entry.rememberings}}</textarea>
                        <input type="submit" value="Publish Entry" class="button">
                        <a href="#" class="button button-secondary">Cancel</a>
                    </form>
                </div>
            </div>
        </section>
{% endblock %}
