{% extends "layout.html" %}

{% block content %}
        <section>
            <div class="container">
                <div class="edit-entry">
                    <h2>Edit Entry</h2>
                    <form method="POST" action="{{ url_for('new', entry_id=entry.id) }}">
                        {{ form.hidden_tag() }}
                        <label for="title"> Title</label>
                        <input id="title" type="text" name="title" placeholder="{{entry.title}}"><br>
                        <label for="date">Date</label>
                        <input id="date" type="text" onfocus="(this.type='date')" name="date" onblur="(this.type='text')" placeholder="{{entry.date}}"><br>
                        <label for="time-spent"> Time Spent</label>
                        <input id="time-spent" type="text" name="timeSpent" placeholder="{{entry.time_spent}}"><br>
                        <label for="what-i-learned">What I Learned</label>
                        <textarea id="what-i-learned" rows="5" name="whatILearned" placeholder="{{entry.learnings}}"></textarea>
                        <label for="resources-to-remember">Resources to Remember</label>
                        <textarea id="resources-to-remember" rows="5" name="ResourcesToRemember" placeholder="{{entry.rememberings}}"></textarea>
                        <input type="submit" value="Publish Entry" class="button">
                        <a href="#" class="button button-secondary">Cancel</a>
                    </form>
                </div>
            </div>
        </section>
{% endblock %}