{% extends "layout.html" %}
{% block content %}
<section>
    <div class="container">
        <div class="new-entry">
            <h2>Login</h2>
            <form method="POST" action="/login" class="form">
                 {{ form.hidden_tag() }}
                 {{form.username.label}}
                 {{form.username}}
                 {{form.password.label}}
                 {{form.password}}
                <input type="submit" value="Login" class="button">
                <a href="#" class="button button-secondary">Cancel</a>
            </form>
        </div>
    </div>
</section>
{% endblock %}
